
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Source+Sans+Pro:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Montserrat:wght@900&family=Source+Sans+Pro:wght@200&display=swap');




img {
    border: 1px solid #d6c583;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    width: 600px;
    margin: 80px;
  }
  

.address {
    color:#687d65;
    font-family: 'Lora', serif;
    font-size: 12px;
    padding: 12px;
    margin: -60px 20px 70px 20px;

}  
  

