.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4daff;
    border-radius: .25rem;
  
  
}

.container--login {
    color: #b7784d;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 6px;
    padding: 40px;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.link--register{
  color:#675746;
  font-family: 'Lora', serif;
  font-size: 13px;
  padding: 12px;
  margin: 20x;
  width: 200px;
  border: #ae7379 2px solid;
  border-radius: 20px;
  background-color: #f1e4db;
  color: #565656;
  

}

.buttonsignin {

    background-color: #f1e4db;
    font-family: 'Lora', serif;
    border: #ae7379 2px solid;
    border-radius: 20px;
    color: #687d65;
    margin: 3px;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  .signIn {

color: #d6c583;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin: 6px;
    padding: 10px;
  }

